@page "/fate-sheet"
@using System.Text.Json
@using honksite.Shared;

<div class="sheetContainer">
    
    <div class="leftColumn" style="flex-direction: column; display: flex; margin-right: 10px; flex: 1">
        <div class="cardHorizontal">
          <div class="container">
            <button class="btn" style="float: left" @onclick="createAspect">[+]</button>
            <p>Click to add an aspect.</p> 
          </div>
        </div>
        @foreach (aspectclass anAspect in _playerSheet.aspectList) {
            <div class="cardHorizontal">
                <div class="container" style="flex-direction: column; display: flex">
                    <div class="container">
                        
                        <p><input @bind="@anAspect.aspectName" style="width: 100%; margin-top: 10px"/> </p>
                        <p><textarea @bind="@anAspect.aspectDescription" style="width: 100%; background-color: transparent; margin-bottom: 10px; box-sizing: border-box;"></textarea></p>
                    </div>
                    <button class="btn" style="float: left" @onclick="() => removeAspect(anAspect)">[🞪]</button>
                </div>
            </div>
        }
        <div class="cardHorizontal">
          <div class="container">
            <p>Visual placeholder for where the aspects end</p> 
          </div>
        </div>
    </div>
    

    <div class="rightColumn" style="flex-direction: column; display: flex; flex: 1">
        <div class="cardVertical">
          <img src="@_playerSheet.characterImage" alt="Lmao did you not set it right? Send it in discord and copy the link">
          <div class="container">
            <input @bind="_playerSheet.name" style="width: 100%"/> 
            <p><textarea @bind="_playerSheet.description" style="width: 100%; background-color: transparent; box-sizing: border-box;"></textarea></p> 
          </div>
          <input @bind="@_playerSheet.characterImage" inputmode="url"/>
        </div>

        <div class="cardHorizontal">
          <div class="container" style="display: flex; flex-direction: row">
            <p style="align-items: center">
                <input style="float: left; display: flex; margin-top: 10px" @bind="_saveLoadJson"/>
                <button class="btn" style="float: left; display: flex; margin-top: 10px" @onclick="ExportToJson">[Export]</button>
                <button class="btn" style="float: left; display: flex; margin-top: 10px" @onclick="ImportFromJson">[Import]</button>
                @_importError
            </p> 
          </div>
        </div>

        <div class="cardHorizontal">
          <div class="container" style="display: flex; flex-direction: row">
              <div> style="float: left; flex: 1"
                <button class="btn" style="float: left" @onclick="createSkill">[+]</button>
                <p>Click to add a skill.</p> 
              </div>
              <div style="float: right; flex: 1">
                <p style="float: right">Click to add a stunt.</p> 
                <button class="btn" style="float: right" @onclick="createStunt">[+]</button>
              </div>
          </div>
        </div>

        <div class="stuntAndSkillContainer" style="display: flex; flex-direction: row">
            <div class="skillContainer" style="display: flex; flex-direction: column">

                @foreach (skillclass skill in _playerSheet.skillList) {
                    <div class="cardHorizontal">
                        <div class="container" style="flex-direction: row; display: flex">
                            <button class="btn" style="float: left" @onclick="() => removeSkill(skill)">[🞪]</button>
                            <p><input @bind="@skill.skillName" style="width: 100%; margin-top: 10px; margin-bottom: 10px"/></p>
                            <p><input @bind="@skill.skillLevel" style="width: 100%; margin-left: 5px" maxlength="2" inputmode="numeric"/></p>
                        </div>
                    </div>
                }
            </div>
            <div class="stuntContainer" style="display: flex; flex-direction: column">
                @foreach (stuntclass stunt in _playerSheet.stuntList) {
                    <div class="cardHorizontal">
                        <div class="container" style="flex-direction: row; display: flex">
                            <button class="btn" style="float: left" @onclick="() => removeStunt(stunt)">[🞪]</button>
                            <p><input @bind="@stunt.stuntName" style="width: 100%; margin-top: 10px; margin-bottom: 10px"/></p>
                            <p><textarea @bind="@stunt.stuntDescription" style="width: 100%; background-color: transparent; box-sizing: border-box;"></textarea></p>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@code {

    private FATEsheet _playerSheet = new();
    
    private string _saveLoadJson = "";
    private string _importError = "";

    private static readonly JsonSerializerOptions options = new(JsonSerializerDefaults.Web) { WriteIndented = true, IncludeFields = true };

    private void ExportToJson()
    {
        _saveLoadJson = JsonSerializer.Serialize(_playerSheet, typeof(FATEsheet), options);
    }

    private void ImportFromJson()
    {
        try 
        {
            _playerSheet = JsonSerializer.Deserialize<FATEsheet>(_saveLoadJson, options);
        }
        catch (JsonException e) 
        {
            _importError = e.Message;
        }
    }

    private void createAspect()
    {
        _playerSheet.aspectList.Add(new aspectclass("Aspect Name","Describe the aspect here."));
    }
    private void removeAspect(aspectclass target)
    {
        _playerSheet.aspectList.Remove(target);
    }

    private void createSkill()
    {
        _playerSheet.skillList.Add(new skillclass("Skill Name",00));
    }
    private void removeSkill(skillclass target)
    {
        _playerSheet.skillList.Remove(target);
    }

    private void createStunt()
    {
        _playerSheet.stuntList.Add(new stuntclass("Stunt Name","Describe the effects of the stunt here."));
    }
    private void removeStunt(stuntclass target)
    {
        _playerSheet.stuntList.Remove(target);
    }
}
